@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&family=Italianno&display=swap');

:root{
--fonte1: 'Comic Neue', cursive;
--fonte2: 'Italianno', cursive;
--fonte3: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    padding: 0%;
    margin: 0%;
    
    
}

header>h1{
    
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 8vw;
    
    
}

header>p{
    margin: 0px 0px 0px 0px;
    font-family: var(--fonte1);
} 

header{
   
    text-align: center;
    
    background-color:black;
    margin:0px;
    
}
html,body {
    min-height: 100vh; 
    background-color:darkgray;
    color:white;
    
    font-family: var(--fonte2);
    
    
}
  
  .img1{
background-image: url(imagens/wallpaper006.jpg);
background-size: cover; 
background-attachment: fixed;
background-position:center center;

}

 #contesto1{
    
    display:inline-block;
    background-color: rgba(2, 0, 0, 0.014);
    text-shadow: 1px 1px 1px ;
}
section{
    font-size: 4vw;
    padding-left: 30px;
    padding-bottom: 10vh;
    line-height: 3em;
    padding-top: 10vh;
}
#contesto2{
  background-color: rgba(56, 55, 55, 0);
  width: 300px;
  
}
.img2{
}
.img3{
    background-image: url('imagens/wallpaper005.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: left bottom;
}
#contesto3{
    width: 300px;
    background-color: rgba(7, 7, 7, 0.24);
    text-shadow: 1px 1px 1px ;
}
footer{
    background-color: black;
}