@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');



*{
    padding: 0%;
    margin: 0%;
    
    
}

header>h1{
    padding-top: 10px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    
}
header{
    align-items: center;
    text-align: center;
    margin: auto;
    height: 150px;
    background-color:black;
    
}
body {
  
    background-color:rgba(0, 0, 0, 0.801);
    color:white;
    line-height:4em;
}
  
  .img1{
background-image: url(imagens/wallpaper006.jpg);
background-size: cover; 
background-attachment: fixed;
background-position:center center;

}

 #contesto1{
    
    width: 300px;
    background-color: rgba(2, 0, 0, 0.116);
    text-shadow: 1px 1px 1px ;
}
section{
    
    margin-left: 50px;
}
#contesto2{
  background-color: rgba(56, 55, 55, 0);
  width: 300px;
  
}
.img2{
}
.img3{
    background-image: url('imagens/wallpaper005.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: left bottom;
}
#contesto3{
    width: 300px;
    background-color: rgba(7, 7, 7, 0.473);
    text-shadow: 1px 1px 1px ;
}
footer{
    background-color: black;
}